[workspace]
members = [
    "src/data_structures",
    "src/encoding",
    "src/linalg",
    "src/math",
    "src/numeric",
    "src/searching",
    "src/sorting",
    "src/storage",
    "src/ascii"
]
name = "alexandria"
version = "0.1.0"
description = "Community maintained Cairo and Starknet libraries"
homepage = "https://github.com/keep-starknet-strange/alexandria/"

[workspace.dependencies]
starknet = ">=2.1.1"

[scripts]
all = "scarb build && scarb test"
