[workspace]
members = [
  "packages/data_structures",
  "packages/encoding",
  "packages/linalg",
  "packages/macros",
  "packages/math",
  "packages/merkle_tree",
  "packages/numeric",
  "packages/searching",
  "packages/sorting",
  "packages/storage",
  "packages/ascii",
  "packages/bytes",
  "packages/utils",
]
name = "alexandria"
version = "0.1.0"
description = "Community maintained Cairo and Starknet libraries"
homepage = "https://github.com/keep-starknet-strange/alexandria/"
cairo-version = "2.7.0"

[workspace.dependencies]
starknet = "2.7.0"
cairo_test = "2.7.0"

[workspace.tool.fmt]
sort-module-level-items = true

[scripts]
all = "scarb build && scarb test"
